body {
	width: 940px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}

#map {
	height: 400px;
	width: 700px;
}

#scale {
	height: 50px;
	width: 700px;
}

#controls ul {
	display: inline-block;
	width:700px;
	text-decoration: none;
}

#controls ul li {
	display: inline-block;
   	margin:0 auto;
}

.time-scale {
	height: 50px;
	width: 700px;
}